Source: capi-network-wifi-direct
Section: libs
Priority: extra
Maintainer: Dongwook Lee <dwmax.lee@samsung.com>, Sungsik Jang <sungsik.jang@samsung.com>
Build-Depends: debhelper (>= 5), capi-base-common-dev

Package: capi-network-wifi-direct
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwifi-direct
Description: A Network WiFi-Direct Library in Tizen C API

Package: capi-network-wifi-direct-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-wifi-direct (= ${Source-Version}), capi-base-common-dev
Description: A Network WiFi-Direct Library in Tizen C API (DEV)

Package: capi-network-wifi-direct-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-wifi-direct (= ${Source-Version})
Description: A Network WiFi-Direct Library in Tizen C API (DBG)

