#!/usr/bin/make -f

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
CMAKE_ROOT_DIR ?= $(CURDIR)
CMAKE_BUILD_DIR ?= $(CURDIR)/cmake_build_tmp

configure: configure-stamp
configure-stamp:
	dh_testdir
	mkdir -p $(CMAKE_BUILD_DIR) && cd $(CMAKE_BUILD_DIR) && cmake ..
	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	cd $(CMAKE_BUILD_DIR) && $(MAKE)
	touch $@

clean:
	cd $(CMAKE_ROOT_DIR)
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f `find . -name *.pc`
	rm -rf $(CMAKE_BUILD_DIR)
	dh_clean
	
install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	cd $(CMAKE_BUILD_DIR) && $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/tmp
	dh_installman
	dh_link
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

